<!DOCTYPE html>
<!--tag adder page-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Tag</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--Navigation-->
<nav th:replace="admin/_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <!--replaced by fragment template-->

    <!--replaced by fragment template-->
</nav>
<!--Navigation-->

<!--Secondary Menu-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/tags/input}" class="active purple item">New</a>
            <a href="#" th:href="@{/admin/tags}" class="purple item">List</a>
        </div>
    </div>
</div>
<!--Secondary Menu-->

<!--Center Content-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <form action="#" method="post" th:object="${tag}"
              th:action="*{id}==null ? @{/admin/tags} : @{/admin/tags/{id}(id=*{id})} " class="ui form">
            <input type="hidden" name="id" th:value="*{id}">
            <div class=" field">
                <div class="ui left labeled input">
                    <label class="ui purple basic label">Tag Label</label>
                    <input type="text" name="name" placeholder="new tag name" th:value="*{name}">
                </div>
            </div>

            <div class="ui error message"></div>
            <!--/*/
            <div class="ui negative message" th:if="${#fields.hasErrors('name')}"  >
              <i class="close icon"></i>
              <div class="header">System Message: </div>
              <p th:errors="*{name}">Invalid Submission!</p>
            </div>
             /*/-->
            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)">Back</button>
                <button class="ui purple submit button">Submit</button>
            </div>

        </form>
    </div>
</div>
<!--Center Content-->


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<!--Bottom Footer-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <!--replaced by fragment template-->

    <!--replaced by fragment template-->
</footer>
<!--Bottom footer-->

<!--javascript dependencies-->
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    //toggle menu items
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    //show dropdown on hover
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    //form validation controller
    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'name',
                rules: [{
                    type: 'empty',
                    prompt: 'Tag label: can not be empty!'
                }]
            }
        }
    });

</script>
</body>
</html>