<!DOCTYPE html>
<!--category list page-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--page title-->
    <title>Category Manager</title>
    <!--CDN Release Of Semantic UI-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--Navigation-->
<nav th:replace="admin/_fragments :: menu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <!--replaced by fragment template-->
    <!--replaced by fragment template-->
</nav>
<!--Navigation-->

<!--Secondary Menu-->
<div class="ui attached inverted pointing menu">
    <div class="ui container">
        <div class="right  menu">
            <a href="#" th:href="@{/admin/types/input}" class="item t-category-text">New</a>
            <a href="#" th:href="@{/admin/types}" class="active item t-category-text t-tag-active">List</a>
        </div>
    </div>
</div>
<!--Secondary Menu-->

<!--Center Content-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header t-category-text">System Message：</div>
            <p th:text="${message}" class="t-category-text">task completed！</p>
        </div>
        <!--tags sorted in table-->
        <table class="ui compact striped inverted table m-shadow-seg animated fadeInDown">
            <thead>
            <tr>
                <th class="t-section-title">#</th>
                <th class="t-section-title">Category Label</th>
                <th class="t-section-title">Tasks</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="type,iterStat : ${page.content}">
                <td th:text="${iterStat.count}" class="t-footer-text">1</td>
                <td th:text="${type.name}" class="t-footer-text">Tutorial</td>
                <td>
                    <a href="#" th:href="@{/admin/types/{id}/input(id=${type.id})}"
                       class="ui circular teal inverted icon button">
                        <i class="edit icon"></i>
                    </a>
                    <a href="#" th:href="@{/admin/types/{id}/delete(id=${type.id})}"
                       class="ui circular red inverted icon button">
                        <i class="trash icon"></i>
                    </a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui small pagination inverted menu" th:if="${page.totalPages}>1">
                        <a th:href="@{/admin/types(page=${page.number}-1)}" class="item t-blog-title m-shadow-seg"
                           th:unless="${page.first}">Prev</a>
                        <a th:href="@{/admin/types(page=${page.number}+1)}" class="item t-blog-title m-shadow-seg"
                           th:unless="${page.last}">Next</a>
                    </div>
                    <a href="#" th:href="@{/admin/types/input}"
                       style="background-color: #c86567 !important;"
                       class="ui small right floated button t-category-text hvr-sweep-to-top">
                        Add Category
                    </a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<!--Center Content-->

<br>
<br>
<!--Bottom Footer-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <!--replaced by fragment template-->

    <!--replaced by fragment template-->
</footer>
<!--Bottom Footer-->

<!--javascript dependencies-->
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    //toggle menu items
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    //show dropdown on hover
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    //close message controller
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>
</body>
</html>