<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!--CDN Release Of Semantic UI -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <!--custom css file-->
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--Navigation-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <!--menu ui item-->
        <div class="ui inverted secondary stackable menu">
            <!--logo -->
            <h2 class="ui purple header item">ZXY</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>Home</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>Category</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>Tag</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>Archive</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>About</a>
            <!--Search Bar-->
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input m-margin-tb-tiny">
                    <input type="text" placeholder="Search....">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--Center Content-->
<div class="m-container m-padded-tb-big">
    <!--container adjusts content based on screen size-->
    <div class="ui container">
        <div class="ui stackable grid">
            <!--main panel-->
            <div class="eleven wide column">
                <!--main panel header-->
                <div class="ui top attached segment"> <!--"attach" header to posts-->
                    <div class="ui middle aligned two column grid"> <!--vertical middle aligned header text-->
                        <div class="column">
                            <h3 class="ui purple header">Blog</h3>
                        </div>
                        <!--post counter-->
                        <div class="right aligned column">
                            Total <h2 class="ui orange header m-inline-block m-text-thin"
                                      th:text="${page.totalElements}"> 10 </h2> Posts
                        </div>
                    </div>
                </div>

                <!--main panel content-->
                <div class="ui attached  segment"> <!--attach posts to header-->
                    <!--post-->
                    <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
                        <!--reversed image and text in mobile platform-->
                        <div class="ui middle aligned mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <!--post text-->
                                <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"
                                                         class="m-black" th:text="${blog.title}">
                                    Top 10 Most In-Demand Programming Languages in 2021</a>
                                </h3>
                                <!--post preview-->
                                <p class="m-text" th:text="|${blog.description}|">You don’t want to waste your
                                    time. If you’re going to put aside the
                                    time and energy
                                    needed to learn new programming languages, you want to make sure, without a doubt,
                                    that the ones you choose are the most in-demand programming languages on the market.
                                </p>
                                <!--post info-->
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <!--avatar, name, publish date, view count-->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/id/883/100/100" th:src="@{${blog.user.avatar}}" alt=""
                                                     class="ui avatar image">
                                                <div class="content"><a href="#" class="header"
                                                                        th:text="${blog.user.nickname}">ZhenXiao Yu</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span
                                                    th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2021-07-06</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> <span th:text="${blog.views}">420</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                           class="ui purple basic label m-padded-tiny m-text-thin"
                                           th:text="${blog.type.name}">Game Development</a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <!--label-->
                                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                    <img src="https://unsplash.it/800/450?image=1005" th:src="@{${blog.firstPicture}}"
                                         alt="" class="ui rounded image">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <!--main panel footer -->
                <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                    <div class="ui middle aligned two column grid">
                        <!--"previous" footer -->
                        <div class="column">
                            <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}"
                               class="ui mini purple basic button"><i class="angle double left icon"></i>Prev</a>
                        </div>
                        <!--"next" button-->
                        <div class="right aligned column">
                            <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}"
                               class="ui mini purple basic button">Next<i class="angle double right icon"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <!--side panel-->
            <div class="five wide column">
                <!--category-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <!--header-->
                                <i class="idea icon"></i>Category
                            </div>
                            <div class="right aligned column">
                                <!--"more text"-->
                                <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui purple segment">
                        <!--fill in menu items-->
                        <div class="ui fluid vertical menu">
                            <a href="#" class="item" th:each="type : ${types}">
                                <span th:text="${type.name}">Game Development</span>
                                <div class="ui purple basic left pointing label"
                                     th:text="${#arrays.length(type.blogs)}">13
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


                <!--tag-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>Tag
                            </div>
                            <div class="right aligned column">
                                <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui purple segment">
                        <!--tag name + article number-->
                        <a href="#" target="_blank" class="ui purple basic left pointing label m-margin-tb-tiny"
                           th:each="tag : ${tags}">
                            <span th:text="${tag.name}">Java</span>
                            <div class="detail" th:text="${#arrays.length(tag.blogs)}">23</div>
                        </a>
                    </div>
                </div>

                <!--new recommendation-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment ">
                        <i class="bookmark icon"></i>New Recommendation
                    </div>
                    <div class="ui segment" th:each="blog : ${recommendBlogs}">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black m-text-thin"
                           th:text="${blog.title}">UE4 Blueprint Guide</a>
                    </div>
                </div>

                <!--QR code-->
                <h4 class="ui horizontal divider header m-margin-top-large">Follow Me</h4>
                <!--implement using the card component QR code-->
                <div class="ui centered card" style="width: 11em">
                    <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt=""
                         class="ui rounded image">
                </div>
            </div>

        </div>
    </div>

</div>

<br>
<br>

<!--Bottom Footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <!--inverted color(black) + vertical(square edges)-->
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <!--Semantic UI grid divide content into 16 pieces (Bootstrap has 12)-->
            <!--Instagram QR Image-->
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" class="ui rounded image"
                             alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <!--Directory-->
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Latest Post</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">User Story </a>
                    <a href="#" class="item m-text-thin">User Story </a>
                    <a href="#" class="item m-text-thin">User Story </a>
                </div>
            </div>
            <!--Contacts-->
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Contact Me</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">Email: zyu347@uwo.ca</a>
                    <a href="#" class="item m-text-thin">Cell: (306)581-5556</a>
                    <a href="#" class="item m-text-thin">Snapchat: markyu2020</a>
                </div>
            </div>
            <!--Short Intro-->
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">ZhenXiao Yu's Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">This is my personal blog, I will be posting
                    content related to programming,
                    game development, and other things I find worthy of discussion. I hope you find something
                    useful...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 - 2021 ZhenXiao Yu</p>
    </div>

</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--CDN Release Of Jquery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<!--CDN Release Of Semantic UI -->
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    //jQuery Command to toggle navigation menu items
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>