<!DOCTYPE html>
<!--About me page-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--page title-->
    <title>ZhenXiao Yu's Projects</title>
    <!--CDN Release Of Semantic UI-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <!--custom css file-->
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="../static/css/theme.css">
</head>
<body>

<!--Navigation-->
<nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <!--replaced by fragment template-->

    <!--replaced by fragment template-->
</nav>
<!--Navigation-->

<!--Center Content-->
<div class="m-container m-padded-tb-big animated fadeIn">
    <div class="ui container">
        <!--Echo-->
        <div class="ui stackable grid">
            <!--image side-->
            <div class="nine wide column">
                <!--project image-->
                <div class="ui inverted segment m-shadow-seg">
                    <img src="https://unsplash.it/800/800?image=998" alt="" class="ui rounded image">
                </div>
            </div>
            <!--image side-->
            <!--description side-->
            <div class="seven wide column">
                <div class="ui top attached inverted segment m-shadow-seg">
                    <!--project title-->
                    <h2 class="ui header t-blog-title">E.C.H.O : FPS Game</h2>
                </div>
                <!--Project Description-->
                <div class="ui attached inverted segment m-shadow-seg">
                    <p class="t-section-text">Hello, my name is Mark Yu. I am a third year software engineering student
                        at
                        University of Western Ontario</p>
                    <p class="t-section-text">With a background in visual arts, I focus mainly on front end development
                        using
                        vue and react. I also spend my time making games using the unity engine.</p>
                </div>
                <!--personal label-->
                <div class="ui attached inverted segment m-shadow-seg">
                    <div class="ui indicating progress m-shadow-seg progressHTML"
                         data-percent="65"
                         style="background-color: #644e5b">
                        <div class="t-section-title label">Project Completion: 65%</div>
                        <div class="bar" style="background-image: linear-gradient(to right, #c86567 , #65c8c6);"></div>
                    </div>
                </div>
                <!--tags-->
                <div class="ui attached inverted segment m-shadow-seg">
                    <div class="ui left pointing label m-margin-tb-tiny hvr-grow-rotate"
                         style="background: #96a8bc !important">
                        <span style="color:#314455;">#</span>
                        <span class="t-tag-text">Unity</span>
                    </div>
                </div>
                <!--links-->
                <div class="ui bottom attached center aligned inverted segment m-shadow-seg">
                    <!--title text-->
                    <Span class="center-aligned t-blog-title">Download Latest Version Today! <i
                            class="angle double right icon"></i></Span>
                    <!--github-->
                    <a href="https://github.com/zhenxiao-yu" class="ui DL circular inverted icon t-blog-title "
                       data-content="Download through github."
                       data-position="bottom center"><i class="big github icon"></i></a>

                    <a href="#" class="ui DL circular inverted icon t-blog-title "
                       data-content="Sorry! Direct download not available yet."
                       data-position="bottom center"><i class="big download icon"></i></a>
                </div>
            </div>
        </div>
        <!--Echo-->

        <!--PUBG-->
        <div class="ui stackable grid">
            <!--description side-->
            <div class="seven wide column">
                <div class="ui top attached inverted segment m-shadow-seg">
                    <!--project title-->
                    <h2 class="ui header t-blog-title">E.C.H.O : FPS Game</h2>
                </div>
                <!--Project Description-->
                <div class="ui attached inverted segment m-shadow-seg">
                    <p class="t-section-text">Hello, my name is Mark Yu. I am a third year software engineering student
                        at
                        University of Western Ontario</p>
                    <p class="t-section-text">With a background in visual arts, I focus mainly on front end development
                        using
                        vue and react. I also spend my time making games using the unity engine.</p>
                </div>
                <!--personal label-->
                <div class="ui attached inverted segment m-shadow-seg">
                    <div class="ui indicating progress m-shadow-seg progressHTML"
                         data-percent="80"
                         style="background-color: #644e5b">
                        <div class="t-section-title label">Project Completion: 80%</div>
                        <div class="bar" style="background-image: linear-gradient(to right, #c86567 , #65c8c6);"></div>
                    </div>
                </div>
                <!--tags-->
                <div class="ui attached inverted segment m-shadow-seg">
                    <div class="ui left pointing label m-margin-tb-tiny hvr-grow-rotate"
                         style="background: #96a8bc !important">
                        <span style="color:#314455;">#</span>
                        <span class="t-tag-text">Unity</span>
                    </div>
                </div>
                <!--links-->
                <div class="ui bottom attached center aligned inverted segment m-shadow-seg">
                    <!--title text-->
                    <Span class="center-aligned t-blog-title">Download Latest Version Today! <i
                            class="angle double right icon"></i></Span>
                    <!--github-->
                    <a href="https://github.com/zhenxiao-yu" class="ui DL circular inverted icon t-blog-title "
                       data-content="Download through github."
                       data-position="bottom center"><i class="big github icon"></i></a>

                    <a href="#" class="ui DL circular inverted icon t-blog-title "
                       data-content="Sorry! Direct download not available yet."
                       data-position="bottom center"><i class="big download icon"></i></a>
                </div>
            </div>
            <!--image side-->
            <div class="nine wide column">
                <!--project image-->
                <div class="ui inverted segment m-shadow-seg">
                    <img src="https://unsplash.it/800/800?image=999" alt="" class="ui rounded image">
                </div>
            </div>
            <!--image side-->
        </div>
        <!--PUBG-->

        <!--E-Commerce-->
        <div class="ui stackable grid">
            <!--image side-->
            <div class="nine wide column">
                <!--project image-->
                <div class="ui inverted segment m-shadow-seg">
                    <img src="https://unsplash.it/800/800?image=1000" alt="" class="ui rounded image">
                </div>
            </div>
            <!--image side-->
            <!--description side-->
            <div class="seven wide column">
                <div class="ui top attached inverted segment m-shadow-seg">
                    <!--project title-->
                    <h2 class="ui header t-blog-title">E.C.H.O : FPS Game</h2>
                </div>
                <!--Project Description-->
                <div class="ui attached inverted segment m-shadow-seg">
                    <p class="t-section-text">Hello, my name is Mark Yu. I am a third year software engineering student
                        at
                        University of Western Ontario</p>
                    <p class="t-section-text">With a background in visual arts, I focus mainly on front end development
                        using
                        vue and react. I also spend my time making games using the unity engine.</p>
                </div>
                <!--personal label-->
                <div class="ui attached inverted segment m-shadow-seg">
                    <div class="ui indicating progress m-shadow-seg progressHTML"
                         data-percent="65"
                         style="background-color: #644e5b">
                        <div class="t-section-title label">Project Completion: 65%</div>
                        <div class="bar" style="background-image: linear-gradient(to right, #c86567 , #65c8c6);"></div>
                    </div>
                </div>
                <!--tags-->
                <div class="ui attached inverted segment m-shadow-seg">
                    <div class="ui left pointing label m-margin-tb-tiny hvr-grow-rotate"
                         style="background: #96a8bc !important">
                        <span style="color:#314455;">#</span>
                        <span class="t-tag-text">Unity</span>
                    </div>
                </div>
                <!--links-->
                <div class="ui bottom attached center aligned inverted segment m-shadow-seg">
                    <!--title text-->
                    <Span class="center-aligned t-blog-title">Download Latest Version Today! <i
                            class="angle double right icon"></i></Span>
                    <!--github-->
                    <a href="https://github.com/zhenxiao-yu" class="ui DL circular inverted icon t-blog-title "
                       data-content="Download through github."
                       data-position="bottom center"><i class="big github icon"></i></a>

                    <a href="#" class="ui DL circular inverted icon t-blog-title "
                       data-content="Sorry! Direct download not available yet."
                       data-position="bottom center"><i class="big download icon"></i></a>
                </div>
            </div>
        </div>
        <!--E-Commerce-->

        <!--Music App-->
        <div class="ui stackable grid">
            <!--description side-->
            <div class="seven wide column">
                <div class="ui top attached inverted segment m-shadow-seg">
                    <!--project title-->
                    <h2 class="ui header t-blog-title">E.C.H.O : FPS Game</h2>
                </div>
                <!--Project Description-->
                <div class="ui attached inverted segment m-shadow-seg">
                    <p class="t-section-text">Hello, my name is Mark Yu. I am a third year software engineering student
                        at
                        University of Western Ontario</p>
                    <p class="t-section-text">With a background in visual arts, I focus mainly on front end development
                        using
                        vue and react. I also spend my time making games using the unity engine.</p>
                </div>
                <!--personal label-->
                <div class="ui attached inverted segment m-shadow-seg">
                    <div class="ui indicating progress m-shadow-seg progressHTML"
                         data-percent="65"
                         style="background-color: #644e5b">
                        <div class="t-section-title label">Project Completion: 65%</div>
                        <div class="bar" style="background-image: linear-gradient(to right, #c86567 , #65c8c6);"></div>
                    </div>
                </div>
                <!--tags-->
                <div class="ui attached inverted segment m-shadow-seg">
                    <div class="ui left pointing label m-margin-tb-tiny hvr-grow-rotate"
                         style="background: #96a8bc !important">
                        <span style="color:#314455;">#</span>
                        <span class="t-tag-text">Unity</span>
                    </div>
                </div>
                <!--links-->
                <div class="ui bottom attached center aligned inverted segment m-shadow-seg">
                    <!--title text-->
                    <Span class="center-aligned t-blog-title">Download Latest Version Today! <i
                            class="angle double right icon"></i></Span>
                    <!--github-->
                    <a href="https://github.com/zhenxiao-yu" class="ui DL circular inverted icon t-blog-title "
                       data-content="Download through github."
                       data-position="bottom center"><i class="big github icon"></i></a>

                    <a href="#" class="ui DL circular inverted icon t-blog-title "
                       data-content="Sorry! Direct download not available yet."
                       data-position="bottom center"><i class="big download icon"></i></a>
                </div>
            </div>
            <!--image side-->
            <div class="nine wide column">
                <!--project image-->
                <div class="ui inverted segment m-shadow-seg">
                    <img src="https://unsplash.it/800/800?image=1005" alt="" class="ui rounded image">
                </div>
            </div>
            <!--image side-->
        </div>
        <!--Music App-->

        <!--More-->
        <br><br><br><br><br><br><br><br><br><br>
        <div class="ui stackable grid">
            <!--description side-->
            <div class="sixteen wide column">
                <div class="ui top attached inverted segment m-shadow-seg">
                    <!--project title-->
                    <h2 class="ui header t-blog-title">Looks like you've reached the end...</h2>
                </div>
                <!--Project Description-->
                <div class="ui attached inverted segment m-shadow-seg">
                    <p class="t-section-text">Above are all of the projects I’ve recently been working on. If you have
                        any ideas for future projects/ collaborations, please don’t hesitate to contact me. I would be
                        happy to discuss it in more detail. </p>
                </div>
                <!--personal label-->
                <div class="ui bottom attached inverted segment m-shadow-seg">
                    <div class="ui indicating progress m-shadow-seg progressHTML"
                         data-percent="0"
                         style="background-color: #644e5b">
                        <div class="t-section-title label">New Projects Coming Soon!</div>
                        <div class="bar" style="background-image: linear-gradient(to right, #c86567 , #65c8c6);"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--More-->
    </div>
</div>
<!--Center Content-->

<br>
<br>
<br>
<br>
<br>
<br>
<!--Bottom Footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <!--replaced by fragment template-->

    <!--replaced by fragment template-->
</footer>
<!--Bottom Footer-->

<!--javascript dependencies-->
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    //toggle menu items
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    //css popup control
    $('.DL').popup();


    $(document).ready(function () {
        $('.progressHTML').progress();
    });

</script>
</body>
</html>