<!DOCTYPE html>
<!--About me page-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--page title-->
    <title>About Me</title>
    <!--CDN Release Of Semantic UI-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <!--custom css file-->
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="../static/css/theme.css">
</head>
<body>

<!--Navigation-->
<nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <!--replaced by fragment template-->

    <!--replaced by fragment template-->
</nav>
<!--Navigation-->

<!--Center Content-->
<div class="m-container m-padded-tb-big animated fadeIn">
    <div class="ui container">

        <div class="ui stackable grid">
            <div class="nine wide column">
                <!--about me image-->
                <div class="ui segment">
                    <img src="https://unsplash.it/800/600?image=1005" alt="" class="ui rounded image">
                </div>
            </div>
            <div class="seven wide column">
                <div class="ui top attached segment">
                    <div class="ui header">About Me</div>
                </div>
                <!--description-->
                <div class="ui attached segment">
                    <p class="m-text">Hello, my name is Mark Yu. I am a third year software engineering student at
                        University of Western Ontario</p>
                    <p class="m-text">With a background in visual arts, I focus mainly on front end development using
                        vue and react. I also spend my time making games using the unity engine.</p>
                </div>
                <!--personal label-->
                <div class="ui attached segment">
                    <div class="ui orange basic left pointing label">Developer</div>
                    <div class="ui orange basic left pointing label">Artist</div>
                    <div class="ui orange basic left pointing label">Student</div>
                    <div class="ui orange basic left pointing label">Cocktail Enthusiast</div>
                </div>
                <!--specialty-->
                <div class="ui attached segment">
                    <div class="ui purple basic left pointing label m-margin-tb-tiny">Java</div>
                    <div class="ui purple basic left pointing label m-margin-tb-tiny">JavaScript</div>
                    <div class="ui purple basic left pointing label m-margin-tb-tiny">Vue.js</div>
                    <div class="ui purple basic left pointing label m-margin-tb-tiny">C#</div>
                    <div class="ui purple basic left pointing label m-margin-tb-tiny">Python</div>
                    <div class="ui purple basic left pointing label m-margin-tb-tiny">React.js</div>
                    <div class="ui purple basic left pointing label m-margin-tb-tiny">Unity</div>
                    <div class="ui purple basic left pointing label m-margin-tb-tiny">UE4</div>
                    <div class="ui purple basic left pointing label m-margin-tb-tiny">MYSQL</div>
                    <div class="ui purple basic left pointing label m-margin-tb-tiny">...</div>
                </div>
                <!--links-->
                <div class="ui bottom attached center aligned segment">
                    <!--github-->
                    <a href="https://github.com/zhenxiao-yu" class="ui git circular icon button"
                       data-content="zhenxiao-yu"
                       data-position="bottom center"><i class="github icon"></i></a>
                    <!--snapchat-->
                    <a href="#" class="ui discord circular icon button" data-content="markyu2020"
                       data-position="bottom center"><i class="snapchat ghost icon"></i></a>
                    <!--instagram-->
                    <a href="#" class="ui insta circular icon button"><i class="instagram icon"></i></a>
                    <!--email-->
                    <a href="#" class="ui email circular icon button" data-content="zyu347@uwo.ca"
                       data-position="bottom center"><i class="envelope outline icon"></i></a>
                    <!--phone-->
                    <a href="#" class="ui phone circular icon button" data-content="(306)581-5556"
                       data-position="bottom center"><i class="mobile alternate icon"></i></a>
                </div>
                <!--instagram QR-->
                <div class="ui instagramQR flowing popup transition hidden">
                    <img src="../static/images/qrcode.jpg" th:src="@{/images/qrcode.jpg}" alt=""
                         class="ui rounded image" style="width: 110px">
                </div>
            </div>
        </div>

    </div>
</div>
<!--Center Content-->

<br>
<br>
<br>
<br>
<br>
<br>
<!--Bottom Footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <!--replaced by fragment template-->

    <!--replaced by fragment template-->
</footer>
<!--Bottom Footer-->

<!--javascript dependencies-->
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    //toggle menu items
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    //css popup control
    $('.phone').popup({});
    $('.email').popup();
    $('.discord').popup();
    $('.git').popup();
    //instaQR
    $('.insta').popup({
        popup: $('.instagramQR.popup'),
        on: 'hover',
        position: 'bottom center'
    });

</script>
</body>
</html>