<!DOCTYPE html>
<!--category page-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--page title-->
    <title>Tag Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <!--custom css file-->
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="../static/css/theme.css">
</head>
<body>

<!--Navigation-->
<nav th:replace="_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <!--replaced by fragment template-->

    <!--replaced by fragment template-->
</nav>
<!--Navigation-->

<!--Center Content-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached inverted segment m-shadow-seg">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui t-header-counter header">Tag</h3>
                </div>

                <div class="t-header-text right aligned column">
                    Total <h2 class="ui t-header-counter header m-inline-block hvr-buzz"
                              th:text="${#arrays.length(tags)}">
                    SAMPLE NUMBER </h2> Tags
                </div>
            </div>

        </div>
        <!--tag counter-->
        <div class="ui attached inverted segment m-padded-tb-large m-shadow-seg">
            <a href="#" th:href="@{/tags/{id}(id=${tag.id})}"
               style="background: #96a8bc !important"
               class="ui left pointing label m-margin-tb-tiny hvr-grow-rotate"
               th:if="${#arrays.length(tag.blogs)!=0}"
               th:classappend="${tag.id==activeTagId} ? 't-tag-active'" th:each="tag : ${tags}">
                <span style="color:#314455;">#</span>
                <span class="t-tag-text" th:text="${tag.name}">SAMPLE TAG</span>
                <div class="t-tag-text detail" th:text="${#arrays.length(tag.blogs)}">SAMPLE NUMBER</div>
            </a>
            <!--empty tags-->
            <span id="emptyTags" style="display: none" >
                <a href="#" th:href="@{/tags/{id}(id=${tag.id})}"
                   style="background: #96a8bc !important;"
                   class="ui left pointing label m-margin-tb-tiny hvr-grow-rotate animated rubberBand"
                   th:if="${#arrays.length(tag.blogs)==0}"
                   th:classappend="${tag.id==activeTagId} ? 't-tag-active'" th:each="tag : ${tags}">
                    <span style="color:#314455;">#</span>
                    <span class="t-tag-text" th:text="${tag.name}">SAMPLE TAG</span>
                    <div class="t-tag-text detail" th:text="${#arrays.length(tag.blogs)}">SAMPLE NUMBER</div>
                </a>
            </span>
        </div>

        <div class="ui bottom attached inverted segment m-shadow-seg">
            <div class="ui middle aligned column grid">
                <div class="t-header-text right aligned column">
                    <a onclick="showEmpty()" class="ui tiny button t-category-text hvr-sweep-to-top"
                       style="background-color: #c86567 !important;"
                       id="showTagButton">Show all tags
                    </a>
                </div>
            </div>


        </div>

        <!--posts sorted by tags-->
        <div class="ui top attached inverted segment m-shadow-seg animated lightSpeedIn">
            <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
                <div class="ui middle aligned mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"
                               class="t-post-title hvr-grow animated bounce" th:text="${blog.title}">
                                SAMPLE TITLE
                            </a>
                        </h3>
                        <p class="t-description" th:text="|${blog.description}...|">SAMPLE BLOG DESCRIPTION</p>
                        <div class="ui grid">
                            <!--avatar, name, publish date, view count-->
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <!--avatar-->
                                        <div class="item">
                                            <img src="https://unsplash.it/100/100?image=1005"
                                                 th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header t-info hvr-pop"
                                                   th:text="${blog.user.nickname}">
                                                    SAMPLE USER
                                                </a>
                                            </div>
                                        </div>
                                        <!--date-->
                                        <div class="item t-info">
                                            <i class="calendar icon"></i><span
                                                th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">SAMPLE DATE</span>
                                        </div>
                                        <div class="item t-info">
                                            <i class="eye icon"></i> <span th:text="${blog.views}">VIEW COUNT</span>
                                        </div>
                                    </div>
                                </div>
                                <!--post category label-->
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank"
                                       style="background: #c86567 !important"
                                       class="ui mini button m-padded-tiny t-category-text"
                                       th:text="${blog.type.name}">SAMPLE Category</a>
                                </div>
                            </div>
                            <!--post tag labels-->
                            <div class="row">
                                <div class="column">
                                    <a href="#"
                                       style="background: #96a8bc !important"
                                       class="ui tiny button m-padded-mini t-tag-text"> # </a>
                                    <a href="#" th:href="@{/tags/{id}(id=${tag.id})}"
                                       style="background: #96a8bc !important"
                                       class="ui tiny button m-padded-mini t-tag-text"
                                       th:classappend="${tag.id==activeTagId} ? 't-tag-active'"
                                       th:each="tag : ${blog.tags}"
                                       th:text="${tag.name}"> SAMPLE TAG </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="five wide column">
                        <!--thumbnail-->
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                            <img src="https://unsplash.it/800/450?image=1005" th:src="@{${blog.firstPicture}}" alt=""
                                 class="t-thumbnail hvr-grow-rotate m-mobile-hide ui middle-aligned rounded image animated slideInRight">
                        </a>
                    </div>

                </div>
            </div>

        </div>

        <!--footer-->
        <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" th:href="@{'/tags/'+${activeTagId}(page=${page.number}-1)}" th:unless="${page.first}"
                       style="background-color: #c86567 !important;"
                       class="ui tiny button t-category-text hvr-sweep-to-left"><i class="angle double left icon"></i>Prev</a>
                </div>
                <div class="right aligned column">
                    <a href="#" th:href="@{'/tags/'+${activeTagId}(page=${page.number}+1)}" th:unless="${page.last}"
                       style="background-color: #c86567 !important;"
                       class="ui tiny button t-category-text hvr-sweep-to-right">Next<i class="angle double right icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<!--Bottom footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <!--replaced by fragment template-->

    <!--replaced by fragment template-->
</footer>
<!--Bottom footer-->

<!--javascript dependencies-->
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    //toggle menu items
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    //tag showEmpty control
    function showEmpty() {
        var tags = document.getElementById("emptyTags");
        var button = document.getElementById('showTagButton');
        if (tags.style.display === "none") {
            tags.style.display = "inline";
            button.innerHTML = 'Hide empty tags';
        } else {
            tags.style.display = "none";
            button.innerHTML = 'Show all tags';
        }
    }

</script>
</body>
</html>