
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');


/*Logo*/
.t-logo{
    width: 150px !important;
    height: auto !important;
}

/*Menu Items*/
.t-menu {
    font-family: 'Exo 2', sans-serif !important;
    font-weight: bold !important;
    font-size: 15px !important;
}

.t-menu:hover {
    font-family: 'Exo 2', sans-serif !important;
    background-image: linear-gradient(to right, #314455 , transparent) !important;
}

/*Post Info*/
.t-info {
    font-family: 'Exo 2', sans-serif !important;
    color: #65c8c6 !important;
    font-size: x-small !important;
}

/*Post description*/
.t-description {
    font-family: 'Alegreya Sans', sans-serif !important;
    color: #96a8bc !important;
}

/*archive year*/
#t-archive-year {
    font-family: 'Alegreya Sans', sans-serif !important;
    color: #96a8bc !important;
}

/*Post Title*/
.t-post-title {
    font-family: 'Exo 2', sans-serif !important;
    color: #c86567 !important;
    font-weight: 200 !important;
    cursor: pointer;
}

.t-post-title::after {
    content: "";
    display: block;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    height: 4px;
    width: 0px;
    background-image: linear-gradient(to right, #c86567 , #65c8c6);
}

.t-post-title:hover::after {
    width: 100%;
    transition: all 0.8s;
}

/*Section text*/
.t-section-text {
    font-family: 'Alegreya Sans', sans-serif !important;
    font-size: 16px !important;
    color: #96a8bc !important;
}


/*Section Title*/
.t-section-title {
    font-family: 'Exo 2', sans-serif !important;
    font-size: 16px !important;
}

/*Thumbnail*/
.t-thumbnail {
    border: 1px solid #65c8c6 !important;
    border-radius: 10px !important;
    padding: 2px !important;
    height: 100px !important;
    width: 200px !important;
}

/*Section Title*/
.t-section-title {
    font-family: 'Exo 2', sans-serif !important;
    font-size: 16px !important;
    color: #c86567 !important ;
    font-weight: bold !important;
}


/*Section Text*/
.t-section-text {
    font-family: 'Alegreya Sans', sans-serif !important;
    font-size: 14px !important;
    color: #96a8bc !important;
}

/*image*/
.t-image {
    border: 2px solid  !important;
    border-radius: 4px !important;
    padding: 2px !important;
}

/*Header + Count Number*/
.t-header-counter {
    display: inline-block !important;
    font-weight: 600 !important;
    padding-left: 0.4em !important;
    padding-right: 0.4em !important;
    font-family: 'Exo 2', sans-serif !important;
    text-shadow: 1px 1px #5f4a56 !important;
    color: #c86567 !important;
}

/*total + posts*/
.t-header-text {
    font-family: 'Exo 2', sans-serif !important;
    color: #96a8bc !important;
}

/*tag text*/
.t-tag-text {
    color: #314455 !important;
    font-family: 'Exo 2', sans-serif !important;
}

/*category text*/
.t-category-text {
    font-family: 'Exo 2', sans-serif !important;
    color: #314455 !important;
    font-weight: 600 !important;
}

